NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=""
NEXT_PUBLIC_MAPBOX_STYLE_LIGHT=""
NEXT_PUBLIC_MAPBOX_STYLE_DARK=""
NEXT_PUBLIC_GRAPHQL_URL=""
# NEXT_PUBLIC_GRAPHQL_URL="http://localhost:4000"
SCHEMA_ACCESS_TOKEN=""
STITCH_API_KEY =""
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY =""
# NEXT_PUBLIC_TURNSTILE_SITE_KEY="0x4AAAAAAD6Z_RYD8uSMkfNg"
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=""
NEXT_PUBLIC_POSTHOG_HOST=""
